@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-black;
}

main {
    @apply mx-auto px-4;
}

a {
    color: #0091ea;
    text-decoration: none;
}

a, span {
    font-weight: inherit !important;
}
