@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply w-full h-full dark:bg-black;
}

main {
    @apply mx-auto px-4;
}

h1 {
    @apply font-noto;
}

a {
    color: #0091ea;
    text-decoration: none;
}

a, span {
    font-weight: inherit !important;
}
